{% extends "base.html" %}
{% load entryfilters %}
{% block content %}
<div class="info col-md-10 col-md-offset-1 ">
  <div class="col-md-5 col-md-offset-1">
    <h2>Developer</h2>
    <ul>
      <li>Python</li>
      <li>Javascript</li>
      <li>PHP</li>
      <li>HTML/CSS</li>
    </ul>
  </div>
  <div class="col-md-5">
    <h2>Using these:</h2>
    <ul>
      <li>Django</li>
      <li>Django-Rest-Framework</li>
      <li>Jquery</li>
      <li>Wordpress</li>
    </ul>
  </div>
</div>
<div class="contact col-md-10 col-md-offset-1">
    <h2>Contact me:</h2>
    <form id='contactform' role="form">
        {% csrf_token %}
      <div class="col-md-5">
        <div class="form-group">
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter E-Mail">
        </div>
        <div class="form-group">
          <div class="col-md-3 col-md-offset-4">
            <button type="submit" id="contactsubmit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="form-group">
          <textarea class="form-control" rows="8" name="message" placeholder="Enter message"></textarea>
        </div>
      </div>
    </form>
</div>
<div class="github col-md-10 col-md-offset-1">
    <p>Github Username:<a href="{{github_html_url}}">{{github_user.login}}</a></p>
    {% for repo in github_repos %}
        <div class="repo col-md-6">
            <a href="{{repo.svn_url}}">{{repo.name}}</a>
            <p>
                {{repo.description}}<br />
                HTTPS Clone URL: <input type="text" class="cloneurl form-control" value="{{repo.clone_url|safe}}">
            </p>
        </div>
    {% endfor %}
    {% for commit in commits %}
        <div class="commit col-md-6">
            {{commit.time|safe}}
            {{commit.title|safe}}
            <div class="thecommit">
                <p>{{commit.code|safe}} {{commit.summary|safe}}</p>
            </div>
        </div>
    {% endfor %}
</div>
<div class="blogposts col-md-10 col-md-offset-1">
    <h2>Recent Blog Posts</h2>
    {% for entry in entries %}
        <div class="ientries col-md-6">
            <h4><a href="{{entry.get_absolute_url}}">{{entry.title}}</a></h4>
            <span class="entryposted">{{entry.created}}</span>
            <p>{{ entry.content|shortenEntry:entry.get_absolute_url|safe}}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
