{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block after_field_sets %}
<a href="#" id="addimage">Add image</a>
<div id="dialog" title="Basic dialog" class="base hidden">
    <p>Add an image</p>
    {% for album in albums %}
    <a href="#" id="{{album.name}}" class="album">{{album.name}}</a>
    <img src="{{album.get_first_image.image.url}}" width="100" height="100">
    {% endfor %}
</div>
{% for album in albums %}
<div id="{{album.name}}" title="Viewing album: {{album.name}}" class="hidden">
        {{album.name}} | hello
        {%for image in album.photo_set.all %}
            <img src="{{image.image.url}}" width="100" height="100">
        {% endfor %}
    </div>
{% endfor %}
{% endblock %}

