{% extends "base.html" %}
{%block content %}
<div  id="entries" class=" col-md-10 col-md-offset-1">
    <div class="col-md-9">
        {% for entry in entries %}
            <div class="entry">
                <h3><a href="{{entry.get_absolute_url}}">{{ entry.title }}</a></h3>
                <span class="entryposted">Posted: {{entry.created}}</a></span>
                <span class="entrycat">Category: <a href="{{entry.category.get_absolute_url}}">{{entry.category}}</a></span>
                <p>{{ entry.body }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="menu col-md-3">
        {% include "blog/sidebar.html" %}
    </div>
</div>
{% endblock %}
