{% extends "base.html" %}
{%block content %}
<div  id="entries" class=" col-md-10 col-md-offset-1">
    <div class="col-md-9">
        {% for entry in entries %}
            <div class="entry">
                <h3><a href="{{entry.get_absolute_url}}">{{ entry.title }}</a></h3>
                <p>{{ entry.body }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="menu col-md-3">
        <div class="menu">
            <h4>Menu</h4>

            <h6>Categories</h6>
            <ul>
            {% for category in categories %}
            <li><a href="{{category.get_absolute_url}}">{{category.title}}</a></li>
            {% endfor %}
            </ul>
            <h6>Archives</h6>
        </div>
    </div>
</div>
{% endblock %}
